.div_body {
    width: 80%;
    margin: 0px;
}

.div_body table {
    border: #333333 1px solid;
}

.div_body table th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}

.div_body table tr {
    border-bottom: #333333 1px solid;
}

.div_body table tr td {
    padding: 0px;
    width: 10%;
    line-height: 60px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}